<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- Prosty plik logów w katalogu aplikacji -->
    <target xsi:type="File" name="logfile" 
            fileName="zkemapi-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />
    
    <!-- Plik tylko dla błędów -->
    <target xsi:type="File" name="errorfile" 
            fileName="zkemapi-errors-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring} ${stacktrace}" />

    <!-- Konsola -->
    <target xsi:type="Console" name="console" 
            layout="${time} [${level}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Wszystkie logi do pliku -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    
    <!-- Błędy do osobnego pliku -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    
    <!-- Na konsolę -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog> 